/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
   padding-top: 60px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
   background-color: #0A1018
}

/* header */
.navbar {
   z-index: 10;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background : #4D0008;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   padding: 10px;
}
.navbar__logo {
   width: 250px;
   height: 40px;
}
.navbar__logo img {
   width: 100%;
   height: 100%;
   object-fit: fill;
}

.navbar__links {
   width: 150px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar__link a{
   font-size: 25px;
   color: white
}

.navbar__search {
   width: 250px;
   display: flex;
   justify-content: space-between;
   align-items: center
}

.navbar__search input {
   width: 65%;
   border: none;
   outline: none;
   border-radius: 20px;
   height: 30px;
   padding-left: 10px;
}

.navbar__search button {
   width: 30%;
   background-color: #A7D4B0;
   border: none;
   outline: none;
   height: 30px;
   border-radius: 20px;
}
.navbar__user {
   width: 150px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.navbar__user li a{
   font-size: 25px;
   color: white
}

.user__icon {
   width: 40px;
   height: 40px;
   border-radius: 20px
}

.user__icon img {
   width: 100%;
   height: 100%;
   object-fit: fill;
   border-radius: 20px
}

/* main */
.filter__posts {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
 
}
.filter__posts a {
   font-size: 12px;
   padding: 8px;
}
.main {
   overflow: hidden;
  
}
.main__wrapper {
   width: 100%;
   position: relative;
}
.mainMenu {
   display: grid;
   column-gap: 15px;
   grid-template-columns: 1fr 2fr 1fr;
}

.main__statuses {
   display: flex;
   align-items: "center";
   width: max-content;
   transition: 0.4s;
}

.main__status>img {
   width: 100%;
   height: 100%;
   object-fit: fill;
   border-radius: 20px;
}
.main__status {
   width: 130px;
   height: 220px;
   position: relative;
   border-radius: 20px;
   margin-right: 15px;
}
.main__status__more {
   width: 150px;
   height: 200px;
   position: relative;
   border-radius: 20px;
   margin-right: 15px;
   display: flex;
   align-items: center;
   justify-content: center
}
.main__status__points {
   display: flex;
   flex-direction: column;
   align-items: space-between
}
.main__status__icon {
   width: 40px;
   height: 40px;
   border-radius: 100%;
   position: absolute;
   top: 10px;
   left: 10px;
}
.main__status__icon img{
   width: 100%;
   height: 100%;
   border-radius: 100%;
 
}
.main__status__name {
   position: absolute;
   bottom: 10px;
   left: 10px;
   color: white;
   font-weight: 900;
   text-align: center;
   font-size: 15px;
}

a {
   text-decoration: none;
   color: black;
   font-weight: 900;
}
.main {
   margin-top: 20px;
   height: max-content;
}

img {
   user-select: none;
}
.add_story {
   cursor: pointer;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 50%;
   transform: translateX(-50%);
   color: white;
   font-weight: 900;
   width: 40px;
   height: 40px;
   border-radius: 20px;
   background: #369BFF;
   display: flex;
   justify-content: center;
   align-items: center;
}

.left, .right {
   display: flex;
   justify-content: center;
   align-items: center;
   background: white;
   width: 40px;
   height: 40px;
   border-radius: 20px;
   cursor: pointer;
}

.left {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
}


.right {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 0;
}


/* asideleft */
.asideLeft {
   width: 250px;
   position: fixed;
}
.asideLeft__user {
   margin-top: 20px;
   background: #0F0F0F;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.asideLeft__user {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
   border-radius: 10px;

}

.asideLeft__user__icon {
   width: 30px;
   height: 30px;
   border-radius: 100%;
}

.asideLeft__user__icon img {
   width: 100%;
   height: 100%;
   object-fit: fill;
   border-radius: 100%;
}

.asideLeft__user__messaggess {
   padding-bottom: 10px;
   background: #0F0F0F;
   margin-top: 20px;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.asideLeft__user__messaggess__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 35px;
}
.asideLeft__user__messaggess__top__left{
   color: white;
   font-weight: bold;
}
.asideLeft__user__messaggess__top__right a {
   text-decoration: none;
   color: blue
}

.asideLeft__user__messaggess__body__messagge {
   padding: 0 35px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 10px;
   width: 100%;
}

.asideLeft__user__messaggess__body__messagge__icon {
   width: 40px;
   height: 40px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.asideLeft__user__messaggess__body__messagge__icon img {
   width: 80%;
   height: 80%;
   object-fit: fill;
   border-radius: 100%;
}

.asideLeft__user__messaggess__body__messagge__name {
   color: white;
}

.asideLeft__user__name {
   color: white;
}

/* asideright */

.asideRight {
   width: 250px;
   position: fixed;
   top: 20;
   right: 115px;
}

.asideRight__top {

   padding: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 20px;
   background: #0F0F0F;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.asideRight__top__left {
   color: wheat;
   font-weight: bold;
}
.fa-golang {
   color: red;
   font-size: 30px;
}
.elanlar {
   padding: 15px;
   margin-top: 20px;
   background: #0F0F0F;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.elan {
   margin-top: 22px;
   padding: 10px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
   
}
.elan__image {
   width: 30px;
   height: 30px;
}
.elan__image img {
   width: 100%;
   height: 100%;
   object-fit: fill;
}

.elan__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.elan__title{
   color: white;
   font-weight: bold;
   font-size: 15px;
}

.elan__src {
   margin-top: 20px;
   text-align: justify;
   color: white
}

.elan__add {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60%;
   background: white;
   height: 100px;
   margin: 15px auto 15px auto;
   border-radius: 15px;
   box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.elan__add img{
   width: 50%;
   height: 70%;
   cursor: pointer;
}



/* mainContent */


 .cf {
   padding: 0;
   position: relative;
 }
 .status {
   margin: 11px 0;
 }
 .contentMain {
   padding-top: 30px;
 }
 #post__wrapper {
   width: 100%;
   margin: 10px auto 0;
   border: 1px solid #D0D1D5;
   border-top: 0;
   border-radius: 2px;
   padding: 12px;
   background: #F7F29B;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 }
 
 
 
 .arrow {
   position: absolute;
   width: 12px;
   border: none;
   height: auto;
   right: 0px;
 }
 
 .profile-pic {
   width: 40px;
   height: auto;
   float: left;
   margin-right: 8px;
 }
 
 .name,
 .date {
   margin: 0;
 }
 
 .name {
   color: #385A97;
   font-size: 15px;
   margin-bottom: 5px;
 }
 
 .date {
   font-size: 12px;
   color: #90949C;
 }
 
 main {
   font-size: 13px;
 }
 
 main .status {
   margin-bottom: 11px;
 }
 
 .img-content {
   width: 100%;
   margin-bottom: 11px;
   border: 1px solid rgba(0, 0, 0, .1);
 }
 
 .action a {
   color: #7F7F7F;
 }
 
 .action div {
   display: inline-block;
 }
 
 .action div p:hover {
   text-decoration: underline;
 }
 
 .action div:nth-child(n + 2) {
   margin-left: 20px;
 }
 
 .like img,
 .comment img,
 .share img {
   display: inline-block;
   width: 18px;
   vertical-align: text-bottom;
 }
 
 .like p {
   color: #1787FA;
 }
 
 .like p,
 .comment p,
 .share p {
   display: inline-block;
 }
 
 .share img {
   opacity: .2;
 }
 
 .cf:before,
 .cf:after {
   content: "";
   /* 1 */
   display: table;
   /* 2 */
 }
 
 .cf:after {
   clear: both;
 }
 
 .like i {
   font-size: 17px;
}

.like p, .comment p, .share p {
   font-size: 17px;
   color: black;
}


.add__post {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
}

.add__post input {
   border-radius: 10px;
   height: 35px;
   width: 360px;
   border: none;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   padding-left: 10px;
   margin-right: 20px;
}
.add__post form {
   display: flex;
   align-items: center;
}
.fa-image {
   font-size: 30px;
   cursor: pointer;
   color: green;
}
.add__post button {
   width: 100px;
   height: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 20px;
}

.pagination {
   padding: 20px 0 20px 140px;
   margin: 0 auto;
}





/* add_image__modal */

.add_image__modal {
   border-radius: 15px;
   box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background: rgba(0, 0, 0, 0.9);
   z-index: 100;
   display: flex;
   justify-content: center;
   align-items: center;
   visibility: hidden;
   opacity: 0;
   transition: 0.3s;
}
.add_image__modal textarea {
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.add_image__modal__active {
   visibility: visible;
   opacity: 1;
}
.add_image__modal__box {
   background: white;
   width: 550px;
   height: 350px;
   padding: 80px;
   position: relative;
}

.add_image__modal__box button {
   display: block;
   margin: 0 auto;
}

.addPostModalExit {
   position: absolute;
   top: 15px;
   right: 15px;
   color: #4D0008;
   font-size: 35px;
   cursor: pointer;
}

.profile-pic {
   border-radius: 100%;
}


/* comments */

.comments__main {
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
}

.comment__aside {
   padding: 10px;
   margin-top: 20px;
   background: #DCB37B
}
.comment__aside__c {
   margin-top: 20px;
   padding: 10px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.comment__aside__c__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 40%;
}

.comment__aside__c__img {
   width: 30px;
   height: 30px;
   border-radius: 100%;
}
.comment__aside__c__img img{
   width: 100%;
   height: 100%;
   border-radius: 100%;
}

.comment__aside__c__comment {
   padding: 5px;
   margin-bottom: 20px;
   margin-top: 20px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.comment__aside__c__name {
   font-weight: bold;
}

.add__comment {
   margin-top: 20px;
}

.add__comment input {
   width: 60%;
   height: 30px;
   outline: none;
   border: none;
   padding-left: 10px;
   border-radius: 10px;
   margin-right: 20px;
}
.add__comment form {
   display: flex;
}
.add__comment button {
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.dropdown-toggle::after {
   display:none;
}

.cf .drowpBtn {
   background: transparent;
   border: none;
   position: absolute;
   right: 0;
   top: 0;
}
.cf .drowpBtn:active {
   background: transparent
}


/* add_elan_modal */

.add_elan__modal {
   border-radius: 15px;
   box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background: rgba(0, 0, 0, 0.9);
   z-index: 100;
   display: flex;
   justify-content: center;
   align-items: center;
   visibility: hidden;
   opacity: 0;
   transition: 0.3s;
}
.add_elan__modal textarea {
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.add_elan__modal__active {
   visibility: visible;
   opacity: 1;
}
.add_elan__modal__box {
   background: white;
   width: 550px;
   height: 350px;
   padding: 50px;
   position: relative;
}

.add_elan__modal__box button {
   display: block;
   margin: 0 auto;
}

.addElanModalExit {
   position: absolute;
   top: 15px;
   right: 15px;
   color: #4D0008;
   font-size: 35px;
   cursor: pointer;
}
.elan {
   position: relative;
}
.elan_sil a{
   color: red;
   position: absolute;
   bottom: 5px;
   right: 5px;
   cursor: pointer;
}

.elan__src a {
   color: blue;
}


/* elanlar */
.elanlar__main {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center
}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.blog-slider {
   width: 95%;
   position: relative;
   max-width: 800px;
   margin: auto;
   background: #fff;
   box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
   padding: 25px;
   border-radius: 25px;
   height: 400px;
   transition: all 0.3s;
}
@media screen and (max-width: 992px) {
   .blog-slider {
      max-width: 680px;
      height: 400px;
  }
}
@media screen and (max-width: 768px) {
   .blog-slider {
      min-height: 500px;
      height: auto;
      margin: 180px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
   .blog-slider {
      height: 350px;
  }
}
.blog-slider__item {
   display: flex;
   align-items: center;
}
@media screen and (max-width: 768px) {
   .blog-slider__item {
      flex-direction: column;
  }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
   opacity: 1;
   transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
   opacity: 1;
   transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
   transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
   transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
   transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
   transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
   transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
   transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
   transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
   transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
   transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
   transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
   transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
   transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
   transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
   transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
   transition-delay: 1.7s;
}
.blog-slider__img {
   width: 300px;
   flex-shrink: 0;
   height: 300px;
  

   border-radius: 20px;
   transform: translateX(-80px);
   overflow: hidden;
}
.blog-slider__img:after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 20px;
   opacity: 0.8;
}
.blog-slider__img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
   opacity: 0;
   border-radius: 20px;
   transition: all 0.3s;
}
@media screen and (max-width: 768px) {
   .blog-slider__img {
      transform: translateY(-50%);
      width: 90%;
  }
}
@media screen and (max-width: 576px) {
   .blog-slider__img {
      width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
   .blog-slider__img {
      height: 270px;
  }
}
.blog-slider__content {
   padding-right: 25px;
}
@media screen and (max-width: 768px) {
   .blog-slider__content {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
   .blog-slider__content {
      padding: 0;
  }
}
.blog-slider__content > * {
   opacity: 0;
   transform: translateY(25px);
   transition: all 0.4s;
}
.blog-slider__code {
   color: #7b7992;
   margin-bottom: 15px;
   display: block;
   font-weight: 500;
}
.blog-slider__title {
   font-size: 24px;
   font-weight: 700;
   color: #0d0925;
   margin-bottom: 20px;
}
.blog-slider__text {
   color: #4e4a67;
   margin-bottom: 30px;
   line-height: 1.5em;
}
.blog-slider__button {
   display: inline-flex;
   background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
   padding: 15px 35px;
   border-radius: 50px;
   color: #fff;
   box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
   text-decoration: none;
   font-weight: 500;
   justify-content: center;
   text-align: center;
   letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
   .blog-slider__button {
      width: 100%;
  }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
   bottom: 10px;
   left: 0;
   width: 100%;
}
.blog-slider__pagination {
   position: absolute;
   z-index: 21;
   right: 20px;
   width: 11px !important;
   text-align: center;
   left: auto !important;
   top: 50%;
   bottom: auto !important;
   transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
   .blog-slider__pagination {
      transform: translateX(-50%);
      left: 50% !important;
      top: 205px;
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
   margin: 8px 0;
}
@media screen and (max-width: 768px) {
   .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 5px;
  }
}
.blog-slider__pagination .swiper-pagination-bullet {
   width: 11px;
   height: 11px;
   display: block;
   border-radius: 10px;
   background: #062744;
   opacity: 0.2;
   transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
   opacity: 1;
   background: #fd3838;
   height: 30px;
   box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}
@media screen and (max-width: 768px) {
   .blog-slider__pagination .swiper-pagination-bullet-active {
      height: 11px;
      width: 30px;
  }
}
.elanlar__main__btns {
   width: 60%;
   margin: 0 auto;
   margin-bottom: 20px;
}




/* elan */

.elan__main {
   padding-bottom: 30px;
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
}

.elan__main__img {
   width: 100%;
   height: 400px;
   margin-top: 30px;
}

.elan__main__img img {
   width: 100%;
   height: 100%;
}

.elan__body {
   width: 350px;
   margin-top: 20px;
   color: white;
   font-weight: bold;
   font-size: 15px;
   line-height: 25px;
}
.elan__body a {
   color: white;
}
.elan__body div {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 20px;
   align-items: center;
}

.elan__body__desc {
   color: white;
   font-weight: bold;
   font-size: 15px;
   margin-top: 15px;
   padding: 10px;
   width: 100%;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}